body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font:{
		family: 'Open Sans', sans-serif;
		size: 18px;
	}	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em;
	font:{
		family: 'Oswald', sans-serif;
		weight: $bold;
	}	
}

h1 {
	font-size: 56px;
	@media #{$tablet} {
		font-size: 50px;
	}
	@media #{$tablet-small} {
		font-size: 35px;
	}
}

h2{
    font-size: 30px;
    color: $dark-gray;
    position: relative;
	&:before, 
	&:after {
    position: absolute;
    top: 51%;
    width: 50%;
    height: 1px;
    content: '';
    background-color: lighten($gray, 40%);
    @media #{$tablet-small} {
    	display:none;
    }
	}
	&:before {
    margin-left: -50%;
    text-align: right;
	} 
	@media #{$phone} {
		font-size: 27px;
	}
}

h3 {
	color: $dark-gray;
	font-size: 25px;
}

p {
	line-height: $line_height;
}

img {
	max-width: 100%;
}

a {
	&:link,
	&:visited{
	text-decoration:none;
	color: lighten($gray, 10%);
	}
	&:hover {
	color: $red;
	}
	&.logo {
		float: left;
	    @include padding(26px, 2px, 2px, 8px);
	    color: $red;
	    font: {
	    	size: 45px;
	    	weight: $bold;
	    }
	    @media #{$phone} {
	    	font-size: 32px;
	     	@include padding(29px, 2px, 2px, 4px);
	    }
	}
}

.wrapper {
	width: 900px;
	@include center;
	overflow: hidden;
	
	@media #{$desktop} {
		width: auto;
	}
}



