@mixin border-radius($radius : 10px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin center {
    margin: { 
      left: auto;
      right: auto;
    }
}

@mixin absolute {
  position: absolute;
  display: block;
  content: '';
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}









